* {
    font-family: 'Catamaran', sans-serif;    
}

body {
    background-image: url(img/fondo\ discos.jpg);
}

.barra {
    font-weight: bold;
    font-size: large;
}

.cabeza {
   background-color: grey;
   height: 150px;
 
}
.busqueda {
    width: 400px;
}

.promociones {
    height: 100px;
    background-image: url(img/promociones\ 1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 1600px){
    .promociones {
        background-image: url(img/promociones\ 1600.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media (max-width: 740px){
    .promociones {
        background-image: url(img/promociones\ 740.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.logo {
    height: 120px;
    width: auto;
}

@media (max-width: 1300px){
    .logo {
        height: 8vw;
    }
}

.carrito {
    height: 40px;
    width: 180px;
    
}

.login {
    box-shadow: inset 0 0 0 0 white;
    color: white;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  .login:hover {
    box-shadow: inset 100px 0 0 0 white;
    color: black;
  }

.separador {
    height: 100px;
}

.integrantes {
    font-weight: bold;
    list-style-type: none;
    font-size: large;
}
.grupo6 {
    font-size: large;
    font-weight: bold;
    font-size: large;
}

.footer {
    background-color: grey;    
    text-align: center;
    align-items: center;  
}

 footer ul{
        list-style: none;
    }
.footer p{
    text-align: center;
}

.footer a{
    color: black;
    align-content: end;
}

#preguntas{
    font-weight: bold;
}

#footerExe{
    display: none;
}

#donde {
    font-weight: bold;
}

/* #footerJavier{
    display: none;
} */


